/**************** Element Selectors ********************/
body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

li {
  display: inline;
}
p {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}
/**************** Class Selectors ********************/
.blacktext {
  color: black;
}
.greytext {
  color: rgba(0, 0, 0, 0.54);
}
.loginbtn {
  background: #1a73e8;
  border-radius: 5px;
  padding: 9px 23px;
  color: white;
  font-weight: 500;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.font13 {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.font14 {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.submitbtn {
  display: inline-block;
  margin-top: 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.margin1 {
  margin-right: 15px;
}
.margin2 {
  margin-left: 15px;
  margin-right: 5px;
}
.greybackground {
  background: #f2f2f2;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.bottomnavbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0px;
}
.searchbar {
  height: 44px;
  width: 542px;
  border-radius: 30px;
  border-style: solid;
  color: #dfe1e5;
}
.searchicon {
  background-image: url(images/twotone_search_black_24dp.png);
  background-repeat: no-repeat;
  background-position: 1% 50%;
  background-size: 20px;
}
/*
.logoandsearchcontainer{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;}
 */
.paddingleft0px {
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.54);
}
/**************** ID Selectors ********************/

#google-logo {
  padding-top: 5em;
  display: block;
  position: relative;
  left: 30px;
  margin: 0 auto;
  width: 50%;
  object-fit: contain;
  height: 92px;
  aspect-ratio: auto 272 / 92;
}
#country {
  border-bottom-color: rgb(218, 220, 224);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  text-align: left;
  width: 1380px;
}
